@page "/about"

<PageTitle>About</PageTitle>

<FluentCard Height="auto" Style="align-items:center;">
    <h3>We Make Stuff</h3>
    <p>It's us, we're them.</p>
    <br />
    <p>Ok, so I work in IT and make stupid TikTok videos. She is a teacher and far more respectable.</p>
    <p>We started Furious Rhino a ways back when we came up with Zombie Dinosaurs and promptly did nothing. Now, centuries later, w decided to do something.</p>
    <p>Beyond games, we like to make other stuff. Like food. There's games, video games, apps, books, and plenty of other things we'd like to mke if we have the time.</p>
    <p>Keep an eye out, we migh do more. Or not, or whatever.</p>
</FluentCard>
