@page "/about"

<PageTitle>About</PageTitle>

<FluentCard Height="auto" Style="align-items:center;">
    <FluentStack Orientation="Orientation.Vertical"
                 HorizontalAlignment="HorizontalAlignment.Center"
                 VerticalGap="25"
                 Style="flex-wrap:wrap;">

        <h3>We Make Stuff</h3>
        <div><img src="content/us.png" style="display:block;max-width:100%;height:auto;border-radius:30px;" /></div>
        <div>It's us, we're them.</div>
        <br />
        <div>Ok, so I work in IT and make stupid TikTok videos. She is a teacher and far more respectable.</div>
        <div>We started Furious Rhino a ways back when we came up with Zombie Dinosaurs and promptly did nothing. Now, centuries later, we decided to do something.</div>
        <div>Beyond games, we like to make other stuff. Like food. There's games, video games, apps, books, and plenty of other things we'd like to make if we have the time and motivation.</div>
        <div>Keep an eye out, we might do more. Or not, or whatever.</div>
        <br />
        <div><img src="content/rhinos.png" style="display:block;max-width:100%;height:auto;border-radius:30px;" /></div>
    </FluentStack>
</FluentCard>
