@page "/other"

<PageTitle>Other Stuff</PageTitle>

<FluentCard Height="auto" Style="align-items:center;">
    <FluentStack Orientation="Orientation.Vertical"
                 HorizontalAlignment="HorizontalAlignment.Center"
                 VerticalGap="25"
                 Style="flex-wrap:wrap;">

        <div><img src="content/zdlogo.png" style="display:block;max-width:300px;height:auto;border-radius:30px;" /></div>
        <div>Zombie Dinosaurs is a casual roll and move board game that pits you against the Zombie Dinosaurs and your competitors for supplies.</div>
        <br />
        <div><img src="content/luxlogo.png" style="display:block;max-width:300px;height:auto;" /></div>
        <div>Lux Prismatis is a mobile game for iOS and Android where you puzzle out how to get light to the right targets.</div>
        <br />
        <div>We're always working on new stuff and have more coming down the line. In the meantime, check our <a href="https://www.tiktok.com/@@furioushrino" target="_blank">TikTok</a> channel for the latest news.</div>
    </FluentStack>
</FluentCard>
