@page "/other"

<PageTitle>Other Stuff</PageTitle>

<FluentCard Height="auto" Style="align-items:center;">
    <p><img src="content/zdlogo.png" style="display:block;max-width:300px;height:auto;border-radius:30px;" /></p>
    <p>Zombie Dinosaurs i a casual roll and move board game that pits you against the Zombie Dinosaurs and your competitors for supplies.</p>
    <br />
    <p><img src="content/luxlogo.png" style="display:block;max-width:300px;height:auto;" /></p>
    <p>Lux Prismatis is a mobile game for iOS and Android where you puzzle out how to get light to the right targets.</p>
    <br />
    <p>We're always working on new stuff and have more coming down the line. In the meantime, check our <a href="https://www.tiktok.com/@@furioushrino" target="_blank">TikTok</a> channel for the latest news.</p>
</FluentCard>
