@page "/zombees"

<PageTitle>Zombees</PageTitle>

<FluentCard Height="auto" Style="align-items:center;">
    <p><img src="content/zombeeshivelogo.png" style="display:block;max-width:500px;height:auto;border-radius:30px;" /></p>
    <p>Zombees is a fun and casual game for family and friends. It' quick, easy to learn, and fun to replay.'</p>
    <p>The goal is to remove all of the Zombees from your hive and you can do so by drawing cards, stealing, and special cards.</p>
    <p>Check our TikTok on how to play!</p>
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@@furiousrhino/video/7573397600460672287" data-video-id="7573397600460672287" style="max-width: 605px;min-width: 325px;"> <section> <a target="_blank" title="@@furiousrhino" href="https://www.tiktok.com/@@furiousrhino?refer=embed">@@furiousrhino</a> <p>First playthrough of #Zombees, a fun and casual game for all! #games #cards #boardgames #fyp</p> <a target="_blank" title="♬ original sound  - Furious Rhino" href="https://www.tiktok.com/music/original-sound-Furious-Rhino-7573397768862059294?refer=embed">♬ original sound  - Furious Rhino</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
</FluentCard>
